@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  margin-bottom: auto;
}

.left-header {
  margin-right: auto;
  gap: 20px;
}

.right-header {
  margin-left: auto;
  gap: 20px;
}

.footer {
  display: flex;
  gap: 10px;
  background-color: lightgray;
  margin-top: auto;

}

.left-footer {
  margin-right: auto;
  gap: 20px;
}

.right-footer {
  margin-left: auto;
  gap: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 15px 15px 15px 15px;
  padding: 15px 15px 15px 15px;
  display: flex;
}

li a {
  text-decoration: none;
  color: inherit;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: ½;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}